<!DOCTYPE HTML>
<html>
    <head>
        <style>
            .row {
                display: flex;
            }

            .column {
                flex: 33.33%;
                padding: 5px;
            }
            img {
                width: 100px;
            }
        </style>
    </head>
    <body>
        {% block content %}
        <form action="http://127.0.0.1:8000/frontal/image/insert" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <ul>
                    {% for field in form%}
                        <li>{{field}}</li>
                    {% endfor %}
                </ul>
            </div>
            <button type="submit">Save</button>
        </form>
        {% endblock %}
    </body>
</html>

