<!DOCTYPE HTML>
<html>
    <head>
        <style>
            .row {
                display: flex;
            }

            .column {
                flex: 33.33%;
                padding: 5px;
            }
            img {
                width: 100px;
            }
        </style>
    </head>
    <body>
        {% if message %}
            <p style="color: green; margin:5% 42.5%;">
                {{ message }}
            </p>
        {% endif %}
        <form action="{% url 'frontal:image_insert' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin:12.5% 40%;">
                <ul>
                    <label for="file_name">File name:</label>
                    <li>{{ form.file_name }}</li>
                    <label for="file">File:</label>
                    <li>{{ form.file }}</li>
                </ul>
                <button type="submit">Save</button>
            </div>
        </form>
    </body>
</html>

